@import 'layout';


* {
    margin: 0;
    padding: 0;
}

header nav {
ul{
    li{
    
    display: inline-block;
    @media screen and (max-width: 360px){
        display: block;
    }

    div.kozak {
        box-sizing: border-box;
        margin: 30px 15px; 
        padding: 10px;

    }
    
}
}
}

section {
    background: blue;

    @media screen and (max-width: 768px)
    {background: green;}
        
    }



