article {
    padding: 10px;
    background: lightgray;
    width: 50%;
    h1 {
        font-size: 3em;
    }

    img {
       float: left;
       margin: 0 10px 10px 0;
       border: 3px outset;
    }
}