div {
    
    img{
            
        &#obraz1{
            position: absolute;
            z-index: -1;
            left: 20px;
        }
        &#obraz2{
            position: relative;
            z-index: -2;
            left: 40px;
            top: 40px;
        }
        }
    }