div#up{
        display: inline-block;
        #left {
            position: absolute;
            background: red;
            border: 2px black solid;
            height: 200px;
            width: 200px;
            left: 0%;
        }

        #right {
            position: absolute;
            background: blue;
            border: 2px yellow solid;
            height: 200px;
            width: 200px;
            left: 90%;
            }
    }    
